body{
  background-color: #E4E5E9;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: white;
  width: 700px;
  height: 480px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 350;
  color: white;
  height: 80px;
  background-color: #0A8AAD;
}