.container {
  display: flex;
  justify-content: space-around; /* 이 설정은 요소들을 가로로 배치합니다 */
  align-items: center; /* 이 설정은 요소들을 수직으로 가운데 정렬합니다 */
}
.mode{
  font-size: xx-large;
  color:black;
  text-decoration-line: none;
}
.mode.active{
  color: red;
}
.item {
  display: inline-block;
  margin: 20 10px; /* 각 요소 사이에 간격을 추가합니다 */
}