.todobox{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkboxContainer{
    display: flex;
    margin-right: auto;
    align-items: center;
}
.checkbox{
    background-color: transparent;
    color: black;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: 10px;
    fill: aqua;
    
}
.checkbox:checked{
    background-color: aqua;
    border-color: aqua;
    color: white;
    fill: aqua;
}
.deleteButton{
    border: none;
    outline: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    appearance: none;
    background-color: transparent;
    border-radius: 5px;
}
.icon{
    color: red;
    height: 20px;
    width: 20px;
    background-color: transparent;
}
.deleteButton:hover{
    background-color: #4e5d7996   ;
}
.strikethrough {
    text-decoration: line-through;
    color: silver;
}
  