.Clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        font-size: 100px;
        margin-bottom: 40px;
    }
    .time{
        font-size: 100px;
        margin-bottom: 40px;
    }
    .buttons{
        .button{
            cursor: pointer;

            img{
                width: 70px;
                height: 70px;
                margin: 5px;
            }
        }
        
    }
}