.Clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 2;

    border-left: 5px solid black;
    border-right: 5px solid black;

    .title{
        font-size: 80px;
        margin-bottom: 40px;
    }
    .time{
        font-size: 100px;
        margin-bottom: 40px;
    }
    .buttons{
        .button{
            border: none;
            padding: 0;
            cursor: pointer;

            img{
                width: 80px;
                height: 80px;
                margin: 5px;
            }
        }
        
    }
}