.SelectMode{
    
    .timer{
        font-size: 70px;
        color: black;
    }
    .stopwatch{
        font-size: 70px;
        color: black;

        border-top: 2px solid black;
    }

    .selected{
        color: red;
    }
    
}