.app-container{
  width: 100%;
  height: 100vh;
  background: rgb(212, 212, 212);

  display: flex;
  justify-content: center;
  
  .todo-container{
    width: 800px;
    margin-top: 150px;
  
    display: flex;
    flex-direction: column;
  }
}

